html {
  --lg-grey: #444;
  --lg-blue: #9f7eed;
  --blue: #7067ee;
  --black: #080808;

  --width: 50vw;
}

body {
  background-color: var(--black);
  color: var(--blue);
  display: flex;
  flex-direction: column;
  /* font-family: "Orbitron", sans-serif; */
  font-family: "Roboto Mono", sans-serif;
  place-content: center;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2em;
}

header {
  width: 100vw;
  height: 10vh;
  /* background-color: #e75959; */
}
.disabledButton {
  pointer-events: none;
  color: var(--lg-grey);
  opacity: 0.6;
}

.hidden {
  display: none;
}

section {
  display: flex;
  flex-direction: column;
  place-self: center;
  place-content: center;
  width: var(--width);
  /* background-color: rgb(130, 109, 109); */

  &.visible {
    display: flex;
  }
}

button {
  background-color: var(--blue);
  color: var(--black);
  border: none;
  width: 100%;
  font-size: 0.6em;
  padding: 15px;
  margin: .3em 0;
  border-radius: 0.2em;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    background-color: var(--lg-blue);
    color: var(--black);
  }
}

input {
  background-color: var(--black);
  color: var(--blue);
  border: 2px solid var(--blue);
  font-size: 1em;
  width: 100%;
  /* padding: 0.2em 0.5em; */
  margin: 0.3em 0;
  border-radius: 0.2em;
  box-sizing: border-box;

  &::placeholder {
    color: var(--lg-grey);
    opacity: 0.7;
  }
}

span {
  box-sizing: border-box;
  margin: 0.1em 0;
  font-size: 2em;
  width: 100%;
}

.mt-3 {
  margin-top: 1em;
}

.empty-space {
  flex: 1;
}

.clues-section {
  flex: 1;
}

.flex-1 {
  flex: 1;
}

.main-view {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.clue {
  font-size: 0.5em;;
  margin: 10px 200px;
  padding: 10px;
  width: 250px;
  height: 120px;
  border: 2px solid var(--blue);
}

.clue:hover {
  color: var(--lg-blue);
  cursor: pointer;
}

.medium-text {
  font-size: 0.8em;
}

.logo {
  height: 100px;
  padding-left: 30px;
  margin-top: 20px;
  width: auto;
  object-fit: scale-down;
}
