html {
  --lg-grey: #444;
  --lg-red: #59a7e7;
  --red: #1e71d7;
  --black: #171717;

  --width: 50vw;
}

body {
  background-color: var(--black);
  color: var(--red);
  display: flex;
  flex-direction: column;
  /* font-family: "Orbitron", sans-serif; */
  font-family: "Roboto Mono", sans-serif;
  place-content: center;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2em;
}

header {
  width: 100vw;
  height: 10vh;
  /* background-color: #e75959; */
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}

section {
  display: flex;
  flex-direction: column;
  place-self: center;
  place-content: center;
  width: var(--width);
  /* background-color: rgb(130, 109, 109); */

  &.visible {
    display: flex;
  }
}

button {
  background-color: var(--red);
  color: var(--black);
  border: none;
  width: 100%;
  font-size: 0.6em;
  padding: 15px;
  margin: .3em 0;
  border-radius: 0.2em;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    background-color: var(--lg-red);
    color: var(--black);
  }
}

input {
  background-color: var(--black);
  color: var(--red);
  border: 2px solid var(--red);
  font-size: 1em;
  width: 100%;
  /* padding: 0.2em 0.5em; */
  margin: 0.3em 0;
  border-radius: 0.2em;
  box-sizing: border-box;

  &::placeholder {
    color: var(--lg-grey);
    opacity: 0.7;
  }
}

span {
  box-sizing: border-box;
  margin: 0.1em 0;
  font-size: 2em;
  width: 100%;
}
